
#everything{
	width:600px;
	margin:20px;
}
#chart{
	width:600px;
	margin-left: 50px;
}
.bar{
	fill:#eaeaea;
}
text {
  position: relative;
}
text.label{
/*	fill: #777777;
	color: #777777;*/
	fill: #fff;
	font-size: 35px;
	font-weight: bold;
}
text.category{
	fill: #FFF;
	font-size: 25px;
  margin-left: 1rem;
}

.chart-container {
	padding: 20px;
	background: #34495e;
}


.badge {
  display: flex;
  padding: 1em 2rem;
  justify-content: space-around;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  font: inherit;
}

.badge-common {
  width: 10rem;
  padding: 1rem;
}

.badge-primary {
  color: #fff;
  background-color: #5383ff;
  top: 10;
  right: 50;
}

.badge-secondary {
  color: #fff;
  background-color: #595959;
}

.badge-warning {
  color: #212529;
  background-color: #f7b924;
}

.chart-info__buttons .fas {
  padding: 1rem;
  cursor: pointer;
  border: 2px solid white;
}

.chart-info__buttons .fas:hover {
  align-self: baseline;
  background-color: white;
  color: #34495e;
}

text.change {
  fill: #fff;
	font-size: 35px;
	font-weight: bold;
}

.change {
  font-size:30px;
  font-weight:  bold;
  color:  white;
  transition: all 0.3s cubic-bezier(0.62, 0.21, 0.7, 0.99);
  /* background-color:blue; */
}

.fa-angle-double-down {
  color: red;
}
.fa-angle-double-up {
  color: green;
}

.space {
  visibility: hidden;
}