path:hover
{
	fill-opacity: .7;
}

div.tooltip
{
 	position: absolute;
	text-align: center;
	width: 90px;
	height: 28px;
	padding: 2px;
	font: 12px "Bitter";
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	transform: translateY(-100px);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	box-sizing: border-box;
	vertical-align: baseline;
   font-family: "Bitter", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: inherit;
}

section {
  position: relative;
  height: 100vh;
	width: 100vw;
	text-align: center;
}

#heatmap_info_1 {
  font-size: 1.5rem;
}

.align-center {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Title CSS */
.section-title {
	background: #34495e;
	color: white;
}

/* a { color: white; text-decoration: none; } */

.arrow {
	margin: 8% 0;
	width: 4rem;
	height: 4rem;
}

.section-title .arrow:hover {
	color: #34495e;
	background-color: white;
	border-radius: 2rem;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


.website-title {
	font-size: 5rem;
	text-transform: uppercase;
	margin-top: 3rem;
}

.website-subtitle {
	font-size: 3rem;
	text-transform: uppercase;
}

.website-sub {
	font-size: 1.5rem;
	font-weight: 100;
	text-transform: capitalize;
}

h1 {
	font-size:150%;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
h2 {
	font-size: 12px;
	font-style: italic;
	color: gray;
	margin-top:5px;
	margin-bottom:5px;
}

.hide {
  display: none !important;
}


/* Bar chart CSS */
.chart-container {
	display: flex;
	flex-direction: column;
	height: 100%;

}

.chart-layout {
	display: grid;
	text-align: start;
	grid-template-columns: 25% 75%
}

.chart-info {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 1.2rem;
	justify-content: space-around;
}

.chart-info__heading {
	font-size: 2rem;
	margin: 1rem 0;
}

#chart {
	padding: 3rem;
	margin-left: 2rem;
}

.chart-info__buttons {
	align-self: flex-end;
	align-content: flex-end;
}


/* heatmap layout */

.section-heatmap {
	position: relative;
	width: 100vw;
	display: grid;
	grid-template-columns: 70% 30%;
}

.heatmap-info__heading {
	font-size: 2rem;
}

.heatmap-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.heatmap-info__content {
	text-align: left;
	padding: 1rem;
	padding-left: 0;
}


#heatmap_1 {
	position: relative;
}
